@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
ul {
    list-style-type: none;
}

body {
    margin: 0;
    padding: 0;
}

li{
    display: flex;
    gap: 32px;
}

a {
    text-decoration: none;
}

img {
    width: 100px;
    height: 100px;
}

.main {
    display: flex;
    flex-direction: column  ;
}

.bheader,
.header {
}

.main-first {
    display: flex;
    flex-direction: column;
    padding: 0px 200px;
    background-color: #1F2937;
    padding-bottom: 100px;
}

.header {
    display: flex;
    justify-content: space-between;
    font-family: Roboto;
    margin-top: 24px;
    align-items: center;
}

.header-link {
    color: #e5e7eb;
    font-size: 18px;
}

.header-title{
    font-size: 24px;
    color: #f9faf8;
    font-weight: 900;
}

.links {
    display: flex;
    margin: 0;
    padding: 0;
}

.bheader {
    display: flex;
    margin-top: 100px;
    padding: 0;
    gap: 100px;
}

.bheader-info {
    display: flex;
    flex-direction: column;
}

.bheader-title{
    font-family: Roboto;
    font-weight: 900;
    color: #f9faf8;
    font-size: 48px;
    text-align: center;
}

.bheader-text {
    font-family: Roboto;
    font-size: 18px;
    color: #e5e7eb;
    text-align: center;
}

.goty {
    width: 600px;
    height: 330px;
    border-radius: 7px;
}

.bheader-img {
    width: 600px;
    height: 330px;
    border-style: solid;
    border-color: #e5e7eb;
    border-radius: 9px;
}

.main-second {
    display: flex;
    padding: 30px;
    justify-content: center;
    align-items: center;
}

.quote-main {
    display: flex;
    flex-direction: column;
    padding: 140px 300px;
    gap: 24px;
    background-color: #e5e7eb;

}

.quote-text {
    font-size: 36px;
    color: #1F2937;
    font-family: Roboto;
    font-style: italic;
    font-weight: 250;
    padding: 0;
}

.quote-sign {
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
    color: #1F2937;
    font-family: Roboto;
    font-weight: 900;
    font-size: 24px;
}

.main-third {
    display: flex;
    flex-direction: column;
    padding: 80px 150px;
    gap: 64px;
}

.nominates-title {
    display: flex;
    font-family: Roboto;
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
    justify-content: center;
}

.nominates-container {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

.nominates-images {
    display: flex;
    flex-direction: column;
    padding: 0;
    width:  200px;
    height: 230px;
    flex-shrink: 0;
    justify-content: space-evenly;
}

.nominates-images img {
    width: 200px;
    min-height: 100%;
    object-fit: cover;
    border-radius: 12px;
    border-style: solid;
    border-color: #1F2937;
    border-width: 3px;
}

.nominates-text {
    font-family: Roboto;
    font-size: 18px;
    color: #1F2937;
    text-align: center;
}

.main-fourth {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 150px

}

.signup-main {
    display: flex;
    flex-direction: column;
    background-color: #3882f6;

}